PORT=3000
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
WALLET_PUBLIC_KEY=your_wallet_public_key
BS58_PRIVATE_KEY=your_base58_secret_key
JUP_API_KEY=your_jupiter_api_key
JUP_BASE_URL=https://api.jup.ag/swap/v2
USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
